/* 모바일 기본 글자 크기 */
body {
  font-size: 1.5rem;
}
/* 모바일 레이아웃  */
.appHeader, .appMain {
  width: 100%;
}
.container {
  justify-content: center;
}
/* 모바일 헤더 */
.appHeader {
  background-color: silver;
  grid-template: auto/ 1fr;
  background-color: #38302e;
  /* position: relative; */
}
/* 모바일 브랜드 */
.brand, .memberOnly, .searchForm {
  padding: 10px 20px;
}

.brand * {
  display: block;
}
.brand {
}
/* 모바일 멤버 링크 */
.memberOnly {
  order: -1;
  background-color: #988574;
  color: #fff;
  padding: 10px 20px;
  /* display: flex;
  flex-flow: row nowrap; */
}
.memberOnly li{
}
/* 모바일 검색폼 */
input[type="search"]{
  width: calc(100% - 45px);
  margin-right: 5px;
}
.buttonSearch {
  width: 35px;
  height: 35px;
  border: 0;
  padding:0;
  position: relative;
  background-color: transparent;
  /* background-size: contain;
  overflow: hidden;
  padding-left: 35px; */
  /* /text-indent 트릭(white-space: no-wrap) */
  /* 포지션 트릭 (가상요소 선택자) */
}
.buttonSearch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent url(./images/btn_search.png) 0 0/cover no-repeat scroll;
  /* background-size:( cover)는 구형 브라우저에서 안될때가 있어서 따로 빼서 쓰기도 한다 */

}
/* 모바일 네비게이션 */
/* 모바일 메뉴제어 버튼 */
.buttonBurger {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 60px;
  right: 20px;
  overflow: hidden;
}
.burgerBar {
  background-color: #fff;
  position: absolute;
  left: 0;
  height: 20%;
  width: 100%;
  transition: all 200ms ease-in-out;
}
.round {
  border-radius: 20px;
}
.positionTop {
  top: 0;
}
.positionMiddle {
  top: 50%;
  transform: translateY(-50%);
}
.positionBottom {
  top: 100%;
  transform: translateY(-100%);
}
.isAct .positionTop {
  top: 50%;
  transform: translateY(-50%) rotate(45deg) ;
  /* 미들의 위치로 온 후에 회전해라 */
}
.isAct .positionMiddle {
  transform: translateY(-50%) translateX(-105%);
}
.isAct .positionBottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  /* 미들의 위치로 온 후에 회전해라 */
}
.menu__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  /* 모바일에서는 vw,vh 단위를 사용한다. */
  transform: translateX(-105%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  padding: 20px;
}

/* .menu__item {
 display: flex;
 flex-flow: row wrap;
} */

.menu__link {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(100% - 1.5em);
}
.menu__subMenu {
  display: none;
  width: 100%;
  font-size: 1.6rem;
}
.menu__subMenu li{
  margin: 10px 0;
}
.menu__subMenu a{
  display: block;
  padding: 5px 0;
}
.menuAct .menu__subMenu {
  display: block;
}
.isAct .menu__list {
  transform: none;
}

/* 모바일 메인 콘텐츠 */
.appMain {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 20px;
}
.book, .news, .board, .favorite, .twiter {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* 모바일 인기사이트 */
.favorite__list li a:hover::after, .favorite__list li a:hover::after {
  left: 10em;
}

/* 모바일 푸터 */
.appFooter {
  background-color: orange;
}